doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style_informacion.css')
  block head
  body
    block content
    b.header Información voluntarios
    br
    b.title Pepito
    br
    div.text Teléfono:
    a.mail(href='tel:+34999999999') 999 99 99 99
    br
    div.text Correo electrónico:
    a.mail(href='mailto:pepito@gmail.com') pepito@gmail.com
    br
    br