doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style_login.css')
  block head
  body
    block content
#container.container
  .form-container.sign-in-container
    form(action="/login", method="post")
      h1 Iniciar sesión
      br
      input(type="text", name="username", placeholder="Usuario")
      input(type="password", name="password", placeholder="Contraseña")
      br
      perror El usuario o la contraseña introducidos no son correctos.
      br
      button(type="submit") Entrar
  .overlay-container
    .overlay
      .overlay-panel.overlay-right
        h1 ¡Bienvenido!
        p Introduzca su usuario y contraseña.
        div.image
          img(src="/images/image.png")