doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  block head
  body
    block content
    br
    a.salir(href='/') Salir
    div.image
      img(src="/images/image.png")
    nav.navegacion
    ul.menu
      li
        a(href='#') Calendario de eventos
      li
        a(href='#') Consultar eventos anteriores
      li
        a(href='/menu/informacionresidencias') Información de residencias
      li
        a(href='/menu/opiniones') Opiniones